[project]
	description = Apache Maven Mojo for compiling clojure scripts to class files
[access "refs/*"]
	owner = group user/Mark Derricutt (talios)
[access "refs/for/refs/*"]
	read = group user/Mark Derricutt (talios)
	push = group user/Mark Derricutt (talios)
	label-Code-Review = -2..+2 group user/Mark Derricutt (talios)
	label-Verified = -1..+1 group user/Mark Derricutt (talios)
	rebase = group user/Mark Derricutt (talios)
	removeReviewer = group user/Mark Derricutt (talios)
	submit = group user/Mark Derricutt (talios)
[access "refs/heads/*"]
	read = group user/Mark Derricutt (talios)
	create = group user/Mark Derricutt (talios)
	push = +force group user/Mark Derricutt (talios)
	pushMerge = group user/Mark Derricutt (talios)
[access "refs/tags/*"]
	push = +force group user/Mark Derricutt (talios)
	pushTag = group user/Mark Derricutt (talios)
	pushSignedTag = group user/Mark Derricutt (talios)
